<div class="buttons-container">

    <div class="full-button">
      <button mat-fab
          (click)="onVote('newThumbsUp')"
          color="warn"
          style="margin-bottom: 1em">
          <mat-icon style="padding-bottom: 3px">thumb_up</mat-icon>
      </button>
  
      <div>
          <span class="vote-total">{{ newThumbsUp + votes?.thumbsUp }}</span>
          <span>Thumbs Up</span>
      </div>
    </div>

    <div class="full-button">
      <button mat-fab
        (click)="onVote('newStars')"
        color="accent"
        style="margin-bottom: 1em">
        <mat-icon style="padding-bottom: 4px">star</mat-icon>
      </button>

      <div>
        <span class="vote-total">{{ newStars + votes?.stars }}</span>
        <span>Stars</span>
      </div>
    </div>

    <div class="full-button">
      <button mat-fab
        (click)="onVote('newHighFives')"
        color="primary"
        style="margin-bottom: 1em">
        <mat-icon style="padding-right: 4px; padding-bottom: 10px;">pan_tool</mat-icon>
      </button>
  
      <div>
        <span class="vote-total">{{ newHighFives + votes?.highFives }}</span>
        <span>High Fives</span>
      </div>
    </div>
      
</div>
