.heading {
    text-align: center;
    color: white;
    padding: 1em;
    border-bottom: 2px solid white;
    margin: 6em auto 4em;
    width: 200px;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: 350px;
    margin: 1.5em auto;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2em;
}
