
<h1 class="heading">Projects</h1>

<div class="project-cards">

    <mat-card *ngFor="let project of projects" class="project">
        <mat-card-header>
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="project.logo" alt="Project Logo" style="max-height: 333px;">

        <mat-card-content>
            <p>{{ project.tech }}</p>
            <p>{{ project.description }}</p>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content: space-around;">
            <button mat-raised-button (click)="openNewTab(project.website)">Website</button>
            <button *ngIf="project.repo" mat-raised-button (click)="openNewTab(project.repo)">Source Code</button>
        </mat-card-actions>
    </mat-card>

</div>
