.bg-img {
    background: linear-gradient(#424242, transparent, #424242), url('../assets/space-bg.jpg'); 
    background-size: cover;
    transform: rotate(-20deg) skew(-20deg) translateY(20rem);
    transform-origin: left bottom;
    height: 1111px;
    white-space: nowrap;
    position: absolute;
    top: 25rem;
    bottom: 0;
    left: 0;
    right: -20rem;
    z-index: -1;
    overflow: hidden;
}

.content-container {
    overflow-x: hidden;
    position: relative;
    padding: 2em 0 100px;
}
