<div style="text-align: center; margin: 8em auto 3em;">
    <h1 style="color: white;">Projects</h1>
    <hr style="width: 20%; color: white;">
</div>

<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

    <mat-card *ngFor="let project of projects">
        <mat-card-header>
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="project.logo" alt="Project Logo">

        <mat-card-content>
            <p>{{ project.tech }}</p>
            <p>{{ project.description }}</p>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content: space-around;">
            <button mat-raised-button (click)="openNewTab(project.website)">Website</button>
            <button mat-raised-button (click)="openNewTab(project.repo)">Source Code</button>
        </mat-card-actions>
    </mat-card>

</div>