<div style="text-align: center; margin: 8em auto 4em;">
    <h1 style="color: white;">Projects</h1>
    <hr style="width: 20%; color: white;">
</div>

<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Story Stuff Saved</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>PWA, Angular, Firebase</p>
            <p>Selling used technology products</p>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content: space-around;">
            <button mat-raised-button>Website</button>
            <button mat-raised-button>Source Code</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Menu Mash</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>Ionic with Angular & Capacitor, Firebase, AdMob, EatStreet</p>
            <p>Swipe-to-order menu items from local restaurants</p>
        </mat-card-content>

        <mat-card-actions style="display: flex; justify-content: space-around;">
            <button mat-raised-button>Website</button>
            <button mat-raised-button>Source Code</button>
        </mat-card-actions>
    </mat-card>

</div>