
<mat-card *ngIf="auth.user$ | async as user">
    <div *ngIf="user && !user.isAnonymous; else anonymousUser">
        <div style="display: flex; justify-content: space-around; align-items: center;">
            <img [src]="user.photoURL" alt="Profile Picture" class="profile-pic">
            <p style="font-size: 2em">{{ user.displayName }}</p>
        </div>
        <p style="font-size: 1.5em">Stats:</p>
        <hr style="width: 50%">
        <p>Thumbs Up: {{ user.thumbsUp }}</p>
        <p>Stars: {{ user.stars }}</p>
        <p>HighFives: {{ user.highFives }}</p>
    </div>

    <ng-template #anonymousUser>
        <p>Sign In with Google for the good stuff!</p>
    </ng-template>

    <br>

    <button mat-raised-button (click)="auth.logout()">Logout</button>
</mat-card>
