
<mat-card *ngIf="auth.user$ | async as user">
    <div>
        <div style="display: flex; justify-content: space-around; align-items: center;">
            <p style="font-size: 2em">{{ user.displayName || 'Guest User, No Stats :(' }}</p>
        </div>
        <ng-container *ngIf="user.displayName">
            <p style="font-size: 1.5em">Stats:</p>
            <hr style="width: 50%">
            <p>Thumbs Up: {{ user.thumbsUp }}</p>
            <p>Stars: {{ user.stars }}</p>
            <p>High Fives: {{ user.highFives }}</p>
        </ng-container>
    </div>

    <br>

    <button mat-raised-button (click)="auth.logout()">Logout</button>
</mat-card>
