
html, body {
    height: 100%;
    margin: 0;
}

* {
    font-family: 'Source Code Pro', monospace;
}

*:focus {
    outline: none !important;
}

mat-card {
    transition: 200ms all !important;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.5),
                0 24px 38px 3px rgba(0,0,0,.54),
                0 9px 46px 8px rgba(0,0,0,.52) !important;
}

mat-card * {
    font-family: 'Montserrat', sans-serif;
}

mat-card:hover {
    transform: translateY(5px);
    border-radius: 0;
    box-shadow: 0 4px 8px 2px rgba(145, 99, 60, 0.4),
                0 8px 12px 2px rgba(145, 99, 60,.44),
                0 4px 18px 4px rgba(145, 99, 60,.42) !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 14px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                        left bottom,
                        left top,
                        color-stop(0.44, #cfa681),
                        color-stop(0.86, #a37044));
}
