<mat-card>
    <img style="width: 100%" src="assets/jazzy-yawning.jpg" alt="Picture of Michael and/or Jazzy">
    
    <mat-card-content>
        <p>Hello world! I'm Michael, a young and inspired developer living with my cat <i>Jazzy</i> in Philadelphia. I grew up watching the internet explode, and as I continue to refine my skills I never lose sight of my dream to contribute to it's growth and build cool apps. I focus on combining creativity with the latest web standards to create fast and scalable software.</p>
        <p style="text-align: center">
            I am eager to learn, share, and build. 
            <a href="mailto:thejazzymichael@gmail.com">Let's get in touch.</a>
        </p>
    </mat-card-content>
  
    <mat-card-actions>
        <button mat-raised-button style="margin: 1em">
            <a download
                style="text-decoration: none; color: #6e3f1a;"
                href="assets/Michael-Mancini-Resume-2020.pdf">
                Download Resume
            </a>
        </button>
  
        <button mat-button style="margin: 1em">
            <a target="_blank"
                style="text-decoration: none; color: #6e3f1a;"
                href="assets/Michael-Mancini-Resume-2020.pdf">
                Or view in new tab
            </a>
        </button>
    </mat-card-actions>
</mat-card>
